/* Configuration */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6, a, ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
}

